<p id="notice"><%= notice %></p>
<div class="container">
  <div class="row">
    <div class="col-lg-9 mx-md-auto">
      <div class="card shadow mt-5">
        <div class="card-body">
          <p class="lead fw-bold">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe unde corporis ad officiis sequi? Velit, distinctio. Accusantium a, unde, et expedita quis consequatur voluptatem pariatur molestias eligendi numquam beatae incidunt?</p>
          <%= link_to "Learn More", "javascript:void(0)", class: "btn btn-primary btn-md" %>
        </div>
      </div>
    </div>
  </div>
</div>
